setuptools
onnxruntime
torch
transformers==4.41.2
accelerate
unidecode
numpy
scipy
librosa
encodec
phonemizer
g2p_en
jieba
cn2an
pypinyin
LangSegment
pyopenjtalk
pykakasi

json5
black
ruamel.yaml
tqdm
pyworld



